:root {
  --primary-color: rgb(235, 205, 39);
  /*rgb(26, 26, 97); */
  --secondary-color: rgb(145, 75, 9);
  --accent1-color: #1c5664;
  --accent2-color: #F7F6E5;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header {
  display: grid;
  grid-template-columns: 100px 740px;
  align-items: center;
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

header nav ul {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;

}

header nav ul a {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  font-style: oblique;
  font-weight: 700;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav,
p,
article {
  margin: 16px;
  padding: 8px;
}

section {
  margin: 16px 0px 16px 0px;
  padding: 8px 0px 8px 0px;
}

h1 {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px 16px 0px 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
}

section h2 {
  background-color: var(--accent1-color);
  height: 40px;
  padding: 8px;
  text-align: center;
}

section div {
  margin: 0px;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section div img {
  width: 200px;
  height: auto;
}

footer {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  align-items: center;
}

footer img {
  width: 60px;
  height: auto;
  padding: 0px 20px 0px 0px;
  justify-content: space-evenly;
}

footer p {
  color: var(--secondary-color);
  text-align: center;
}

.logo {
  width: 150px;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero article {
  position: absolute;
  bottom: 0px;
  height: 145px;
  width: 96%;
  padding: 8px;
  opacity: 0.80;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  text-align: left;
}

.hero article p {
  padding: 0px 15px 0px 5px;
}

.hero article img {
  float: right;
  width: 125px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: start;
}

.image-gallery figure figcaption {
  text-align: center;
  font-size: .8rem;
}

.image-gallery img {
  max-width: 145px;
}

.socialmedia a {
  text-decoration: none;
}