:root {
  --primary-color: rgb(235, 205, 39);
  /*rgb(26, 26, 97); */
  --secondary-color: rgb(145, 75, 9);
  --accent1-color: #1c5664;
  --accent2-color: #F7F6E5;
  --accent3-color: #d8eaef;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

form {
  width: 420px;
  margin: 0 auto;
  background-color: #eee;
  display: grid;
  gap: 5px;
}

.form-item {
  display: grid;
  grid-template-column: 1fr 2fr;
  align-items: start;
}

.form-item2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

label {
  text-align: right;
}

input[type="text"], input[type="email"] {
  width: 80%;
  height: 30px;
}

input[type="radio"] {
  width: auto;
  height: auto;
  margin-right: 6px;
}

.radio-area {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.vertical-center {
  align-items: center;
  padding: 10px;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-justify: left;
}

.radio-buttons label {
  text-align: left;
}

textarea {
  width:25px;
  grid-column: 1 / -1;
}

.column1 {
  text-align: left;
}

.button {
  text-align: center;
  justify-items: center;
  width: 50px;
  margin: 0px 15px 0px 15px;
}


