nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: darkblue;
}

main {
  max-width: 1200px;
}

main img {
  max-width: 150px;
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0px;
}

aside {
  width: 20em;
  margin: 1rem;
  border: 1px solid rgba(0 0 0 /0.2);
  padding: 1em;
  background-color: brown;
  color: white;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 1em;
  border-top: 2px solid rgb(0 0 0/0.5);
  text-align: center;
}